
/* Layout Stylesheet */ 

body {
 margin:20px;
 background:#ffffff;
 color: #333333;
 text-align:center;
 padding:0;
 }

/*#outer {
 text-align:center;
 border:0px;
 width:1000px;
 margin: auto;
 }*/

#header {
 width: 1000px;
 height:50px;
 color: #333333;
 background-image: url(../images/header.png);
 background-color: #c7b39b; /* Цвет фона */
}
#bar {
 height:25px;
 background:#c0c0c0;
 color: #333333;
 border:solid #000000;	
 border-width:1px 0 1px 0;
 }

#bodyblock {
 position:relative;
 background: #FFFFFF;
 color: #333333;
 width:1000px;
 padding:0;
 
 }

#column {
 float:left;
 text-align: center;
 background:#FFFFFF;
 color: #333333;
 width:145px;
 }

#content {
 width:80%;
 background:#ffffff;
 color: #333333;
 border:solid #000000;	
 border-width:0 0 0 1px;
 text-align:left;
 min-height: 550px;
 }

#footer {
 height:25px;
 background:#0398CA;
 color: #0398CA;
 margin:0;
 }



/* Presentation Stylesheet */ 

h3, p {
 margin:0;
 padding:15px;
 }

h4 {
 margin:0; 
 padding: 5px 0;
 }
 
p:first-letter {
 font-size: 120%; 
 font-weight: normal;
 margin-left: 40px;
 
 } 
 a{
     color: #333333;
     text-decoration: underline;
 }
 a#back{
     margin-left: 100px;
 }
 a#description{
     color:#0a28ef;
     text-decoration: none;
 }
 #service{
     margin-left: 15px;
 }
 ul{
    list-style: none; 
 }
 .title{
     margin-left: 10px;
 }

 .text-block{
     margin-left: 5px;
 }
 #date{
     size: 10px;
     color: #c0c0c0;
 }
 #feedback{
     left: 5px;
     bottom: 1px;
     
 }
